/*General*/
body{
	background-color: #48a737;
}

p,h1,h2,h3,label{
	text-align: center;
}


/*HEADER*/
header{
	margin: 0 0 30px 0;
	background-color: #2f6e24;
}
header h1{
	padding: 5px;
	margin: 0;
}

header a{
	display: inline-block;
	text-decoration: none;
	margin: 5px 5px;
	padding: 0 10px;
	color: #d8df2e;
	line-height: 0;
	border-radius: 10px;
}

#selected-page{
	font-size: 1.75em;
}

/* "BODY" */

/* Wrap div */

.wrap {
	width: 90%;
	margin: 10px 2.5%;
}

.wrap h3, .wrap p{
	text-align: left;
	font-weight: normal;
}

/* Card */
.card{
	width: 30%;
	margin: 1% 1%;
	display: inline-block;
	background-color: #204e25;
	border-radius: 5px;
	padding: 10px 5px;
	margin: 20px 10px;
	vertical-align: top;
}

.card img {
	display:block;
    margin:auto;
	max-width: 90%;
	max-height: 80%;
}

.card p{
	 word-break: break-all;
}


.preview-image{
	max-height: 120px;
	max-width: 120px;
}

.full-image{
	max-height: 800px;
	max-width: 600px;
	margin: 10px auto;
	padding: 10px 20%;
}


/*Footer*/

footer{
	color:white;
	background-color: black;
	padding: 20px; 
}

footer img, footer a{
	max-width: 50px;
	display:block;
    margin:auto;

}
