/*General*/
body{
	background-color: #48a737;
}

ul{
	list-style: none;
}

p,h1,h2,h3{
	text-align: center;
}


/*HEADER*/
header{
	margin: 0;
	background-color: #2f6e24;
}
header h1{
	padding: 5px;
	margin: 0;
}

header a{
	display: : block;
	text-decoration: none
}

/* "BODY" */
li{
	height: 35%;
}

li div{
	height: 90%;
}

/* Basic Information */
.left-info{
	width: 20%;
	margin: 0 2.5%;
	display: inline-block;
}

.left-info img {
	display:block;
    margin:auto;
	max-width: 100%;
	max-height: 80%;
}

/*Description*/

.center-info {
	width: 30%;
	margin: 0 2.5%;
	display: inline-block;
}

/*Location Information*/

.right-info{
	width: 20%;
	margin: 0 2.5%;
	display: inline-block;
}

.preview-image{
	max-height: 120px;
	max-width: 120px;
}

.full-image{
	max-height: 800px;
	max-width: 600px;
}


/*Footer*/

footer{
	color:white;
	background-color: black;
	padding: 20px; 
}

footer img, footer a{
	max-width: 50px;
	display:block;
    margin:auto;

}
